@import "tailwindcss";

@theme {

  --color-dark-bg: #0b1120; 
  --color-card-bg: #1e293b; 
  --color-kh-pink: #fb7185; 
  --color-kh-blue: #38bdf8; 
  
  --color-kh-yellow: #fcd34d;
  --color-kh-green: #34d399;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark-bg);
  color: #e2e8f0; 
  
  background-image: 
    radial-gradient(at 0% 0%, rgba(56, 189, 248, 0.03) 0px, transparent 50%), 
    radial-gradient(at 100% 100%, rgba(251, 113, 133, 0.03) 0px, transparent 50%);
  background-attachment: fixed;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: var(--color-dark-bg); }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #475569; }